[submodule "TURMA_NOITE/vmroque"]
	path = TURMA_NOITE/vmroque
	url = https://github.com/vmroque/ProgWeb
	branch = master
[submodule "TURMA_NOITE/lucasenriquelv"]
	path = TURMA_NOITE/lucasenriquelv
	url = https://github.com/lucasenriquelv/ProgWeb
	branch = master
