[submodule "TURMA_NOITE/vmroque"]
	path = TURMA_NOITE/vmroque
	url = https://github.com/vmroque/ProgWeb
	branch = master
[submodule "TURMA_NOITE/lucasenriquelv"]
	path = TURMA_NOITE/lucasenriquelv
	url = https://github.com/lucasenriquelv/ProgWeb
	branch = master
[submodule "TURMA_NOITE/anandagaguiar"]
	path = TURMA_NOITE/anandagaguiar
	url = https://github.com/anandagaguiar/ProgWeb
	branch = master
[submodule "TURMA_NOITE/priscilascosta"]
	path = TURMA_NOITE/priscilascosta
	url = https://github.com/priscilascosta/ProgWeb
	branch = master
[submodule "TURMA_NOITE/marcosccp04"]
	path = TURMA_NOITE/marcosccp04
	url = https://github.com/marcosccp04/ProgWeb
	branch = master
[submodule "TURMA_NOITE/riverm4n"]
	path = TURMA_NOITE/riverm4n
	url = https://github.com/riverm4n/ProgWeb
	branch = master
[submodule "TURMA_NOITE/kelvinnpereira"]
	path = TURMA_NOITE/kelvinnpereira
	url = https://github.com/kelvinnpereira/ProgWeb
	branch = master
[submodule "TURMA_NOITE/luansm02"]
	path = TURMA_NOITE/luansm02
	url = https://github.com/luansm02/ProgWeb
	branch = master
[submodule "TURMA_NOITE/sirchouette"]
	path = TURMA_NOITE/sirchouette
	url = https://github.com/sirchouette/ProgWeb
	branch = master
[submodule "TURMA_NOITE/andrelpv"]
	path = TURMA_NOITE/andrelpv
	url = https://github.com/andrelpv/ProgWeb
	branch = master
[submodule "TURMA_NOITE/danfilipe28"]
	path = TURMA_NOITE/danfilipe28
	url = https://github.com/danfilipe28/ProgWeb
	branch = master
[submodule "TURMA_NOITE/icomp-felipe"]
	path = TURMA_NOITE/icomp-felipe
	url = https://github.com/icomp-felipe/ProgWeb
	branch = master
[submodule "TURMA_NOITE/willrobert"]
	path = TURMA_NOITE/willrobert
	url = https://github.com/willrobert/ProgWeb
	branch = master
